{% extends "hotel/base.html" %}
{% block content %}
{% for reservation in reservations %}
{% if reservation.guest == user %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3>Reservaton number:{{ reservation.id }}</h3>
        </div>
        <p>Date of reservation: {{reservation.date }}</p>
        <p>Hotel: {{reservation.room.room_type.hotel }}</p>
        <p>Type of room: {{reservation.room.room_type }}</p>
        <p>Check in: {{reservation.check_in }}</p>
        <p>Check out: {{reservation.check_out }}</p>
        <p>Payment status: {%if reservation.paid %}paid{% else %}not paid{% endif %}</p>
    </div>
</article>
{% endif %}
{% endfor %}
{% endblock content %}